@import url('reset.css');

/*category btn*/
.category_btn{
    text-align:center;
}
.category_btn button {
    width:18%;
    font-size:1.2rem;
}

/*align btn*/
.align_btn > ul {
    display:flex;
    justify-content:space-around;
}
.align_btn > ul > li {
    width:30%;
}
.align_updown {display:none;}

/* stock-list */
.stock-list {font-size:0.8rem;}

/* add-list */
.add-list {
    font-size:0.8rem;
}
.add-list .col-auto {
    text-align:center;
}